<div class="row">
    <div class="jumbotron">
        <div class="container">
            <h1>Welcome to your E-diary</h1>
            <p class="text-primary">In this online diary you can manage all your events centrally and you will have option to see all the events voting visually like in pie-chart</p>
            <h4 class="page-header">Events</h4>
            <a href="#addArchive" class="btn btn-primary">Create New</a> 
            <a href="#archive" class="btn btn-primary">Archives</a>
            <a href="#visualization" class="btn btn-primary">Visualization</a>            
        </div>
    </div>
</div>